@media (max-width: 1440px) {

}

@media screen and (max-width: 998px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) and (max-height: 300px) {

}

body {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;  
    font-style: normal;
    overflow-x: hidden;
    margin: 0;
    position: relative;
    background-color: #E3E3E3;
}
.header {
    height: 55px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-left: #343434 10px solid;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}
.logo_main {
   position: relative; 
}
.logo {
    height: 49px;
    width: 122px;
    color: #ffffff;
    background-color: #7e8bff;
    padding: 3px 10px 3px 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.text_Alps {
    font-family: "Fira Code", sans-serif;
    margin-left: -6%;
    margin-top: -6%;
    font-size: 30px;
    cursor: default;
}
.text_Alps a {
    text-decoration: none;
    color: #ffffff;
}
.text_Search {
    font-family: "Fira Code", sans-serif;
    margin-top: -10%;
    font-size: 28px;
    margin-left: -5%;
    cursor: default; 
}
.text_Search a {
    text-decoration: none;
    color: #ffffff;
}
.header-text {
    position: relative;
    float: left;
    left: 44px;
    text-align: left;
    font-size: 12px;
}
.logo_pict {
    position: relative;
    left: -315.6px;
    width: 67px;
    height: 65px;
}
.header-buttons {
    position: absolute;
    top: auto;
    float: left;
    right: 5%;
    font-size: 14px;
}
#addButtonVideo {
    position: relative;
    right: -42%;
    border: 8px solid;
    border-right: 36px solid;
    border-color: #000000;
    border-radius: 20px;
    background-color: #000000;
    color: #ffffff;
}
#addButtonPhoto {
    position: relative;
    right: 54%;
}
#addButtonVideo .webLink {
    transition: transform 0.5s ease;
    width: 18px;
    height: 18px;
}
#addButtonVideo:hover .webLink {
    animation: pulse 1s infinite;
  
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.18);
    }
    100% {
      transform: scale(1);
    }
  }
#CAM {
    position: relative;
    right: 44%;
}
.webLink { 
    margin-left: 8px;
    width: 18px;
    height: 18px;
    position: absolute;
    top: -2.9px;
    background-size: cover;
    transition: all 0.2s ease-in-out;
} 
.header-buttons button, label {
    cursor: pointer;
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;  
    font-style: normal;
    transition: .25s ease-in-out;
}
.header-buttons button:hover {
    margin-left: 10px;
    padding: 5px 10px;
    color: #7e8bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;  
    font-style: normal;
}
.container {
    position: absolute;
    display: flex;
    height: 100vw;
    margin: 0 5% 0 5%;
    width: 100%;
    z-index: -1;         /* ?? */
}
.scroll-top {
    position: fixed;
    left: 20px;
    top: 90%;
    width: 40px;
    height: 35px;
    background-color: #343434;
    border-radius: 7px;
    /* display: none; */
    opacity: 0;
    transform: scale(0);
    transition: transform 0.5s, opacity 0.5s;
  }
  .scroll-top img {
    width: 100%;
    height: 100%;
  }
  #scroll-top.visible {
    position: fixed;
    left: 20px;
    top: 90%;
    width: 40px;
    height: 35px;
    background-color: #343434;
    border-radius: 7px;
    opacity: 0.35;
    transform: scale(1);
  }
  .sidebar {
    position: relative; 
    background-color: #ffffff;
    width: 25%;
    height: 100%;
    border-right: 1px solid #ddd;
    padding: 10px;
    z-index: -1;
}

.sidebar-title {     
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
}

.sidebar table {
    width: 100%;
    border-collapse: collapse;
}

.sidebar th, .sidebar td {
    padding: 8px;
    text-align: left;
    font-weight: 100;
}

.content {                    /* вкладка с видео  */
    position: relative;
    width: 77.4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ddd;
}

.content-title {              /* text видеозапись  */
    font-weight: bold;
    margin-bottom: 10px;
    font-weight: 100;
    position: relative;
    top: 5px;
    left: 42%;
    font-weight: bold;
}
.video-placeholder {
    position: relative;
    border-radius: 3px;
    left: 3.5%;
    top: 14px;
    height: 35%;
    width: 83%;
    background-color: #ffffff;
    border: black 1px solid;
}

.videoplayer {
    position: relative;
    background: rgb(126,139,255);
    background: radial-gradient(circle, rgba(126,139,255,1) 0%, rgba(0,0,0,1) 100%);
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.video-hud {
    margin:0;
    padding:1px;
}
.video-hud__element {
    cursor:pointer;
    display:inline-block;
    vertical-align:middle;
    height:30px;
}
.video-hud__action {
    width:30px;
}
.video-hud__action_play {
    background:#ccc;
    border-radius:0 100px 100px 0;
}
.video-hud__action_pause {
    background:#c00;
    }
.video-hud__mute {
    width:30px;
    border-radius:100px 100px 100px 100px;
    }
.video-hud__mute_true {
    background:#c00;
    }
.video-hud__mute_false {
    background:#ccc;
    }
.video-hud__download {
    background:#ccc;
    width:30px;
    border-radius:0 0 100px 100px;
    }

#history {
    border-collapse: separate;
    border-spacing: 100px 5px;
}
.webLinkd {
    width: 50%;
    align-self: center;
}
.videoplayers {             /* video player  */
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

}