<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alps Search</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Cactus+Classical+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Sundanese:wght@400..700&family=Quicksand:wght@300..700&family=Reddit+Mono:wght@200..900&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/photo_style.css">
    <script src="/static/js/photo_js.js" defer></script>
</head>
<body>
    <div class="header">
        <div class="logo_main" id="logo_main"> 
            <div class="logo">
                <div class="text_Alps">Alps_</div> 
                <div class="text_Search">Search</div>
            </div> 
        </div>
        <div class="header-text">Система мониторинга воздушного пространства<br>2024, Test version</div>
        <img src="/static/images/logo_white.png" class="logo_pict">
        <div class="header-buttons">
            <label for="CAM" id="CAM" onclick="location.href='/'">Онлайн-камеры</label>
            <label for="addVideo" id="addButtonVideo" onclick="location.href='/video'">Видеозапись</label>
            <label for="addVideo" id="addButtonPhoto" >Фотография<img  src="/static/images/add.png" class="webLink" id="webLinkdButton"></label> <!--ДОБАВИТЬ ФОТО!!!-->
            <input type="file" accept="photo/*" id="addVideo" name="addVideo" multiple hidden>
        </div>
    </div>

    <div class="container">
        <button class="scroll-top" onclick="scrollToTop()"><img src="/static/images/up.png"> </button> <!-- кпнока наверх-->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-title">Информация об объектах</div>
            <table>
                <thead>
                    <tr>
                        <th id="text_time" >Время </th>
                        <th>Тип</th>
                        <th>Приоритет</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="content">

            <div class="content-title" id="">Обработка изображений</div>
            <div class="video-placeholder" id="video-placeholder">  
            </div> 
            <div class='video-hud'>
            </div>
        </div>
    </div>
</body>
</html>
