<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фотографии</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav aria-label="Primary">
            <a href="{{ url_for('index') }}"><button>Камеры</button></a>
            <a href="{{ url_for('photos') }}"><button>Фото</button></a>
            <a href="{{ url_for('videos') }}"><button>Видео</button></a>
        </nav>
        <nav aria-label="Secondary">
            <button>Настройки</button>
            <button>Выход</button>
        </nav>
    </header>
    <div class="container">
        <main class="main">
            <h1>Фотографии</h1>
            <div id="photoGallery">
                <!-- Add your photo display logic here -->
            </div>
        </main>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
